<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./web/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="./web/css/foundation.css">
        <link rel="stylesheet" type="text/css" href="./web/css/app.css">
        <link rel="stylesheet" type="text/css" href="./web/css/luxbar.css">
        <link rel="stylesheet" type="text/css" href="./web/css/hero.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div id="luxbar" class="luxbar-default">
                <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
                <div class="luxbar-menu luxbar-menu-right luxbar-menu-dark">
                    <ul class="luxbar-navigation">
                        <li class="luxbar-header">
                            <a href="#" class="luxbar-brand">Epic Carrots</a>
                            <label class="luxbar-hamburger luxbar-hamburger-spin" 
                            id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
                        </li>
                        <li class="luxbar-item"><a href="./">Home</a></li>
                        <li class="luxbar-item"><a href="./?route=/about">About</a></li>
                        <li class="luxbar-item"><a href="./?route=/cryptos">Cryptos</a></li>
                        <li class="luxbar-item"><a href="./?route=/contact">Contact Us</a></li>
                        <li class="luxbar-item"><a href="./?route=/signup">Sign up</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <main>{% block 'body' %}</main>
        <footer>
            <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script src="./web/js/init.js"></script>
        </footer>
    </body>
</html>