{% extends 'web/view/masters/base.ba.html' %}

{% block 'body' %}
    <div class="row">
        <div class="small-12 columns text-center">
            <form action="./?route=/loginAttempt" method="POST">
                <h3>Login Below</h3>
                Username
                <input type="text" name="username">
                Password
                <input type="password" name="password">
                <input type="submit" class="button" value="Login">
            </form>
            <a href="./?route=/signup">No Account? Sign up!</a>
        </div>
    </div>
{% endblock 'body' %}