{% extends 'web/view/masters/base.ba.html' %}

{% block 'body' %}
<div class="row">
    <div class="small-12 columns">
        <h2>Contact</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="small-12 medium-6 columns">

    </div>
    <div class="small-12 medium-6 columns">
        <h4>Information</h4>
        <strong>Phone:</strong> 319-830-0744
        <hr>
        <p>Data pulled from <a href="https://coinmarketcap.com/api/">CoinMarketCap</a></p>
    </div>
</div>
{% endblock 'body' %}
