{% extends 'web/view/masters/base.ba.html' %}

{% block 'body' %}
<div class="row">
    <div class="small-12 columns">
        <h3>Add Review</h3>
        <form action=".?route=/cryptos/reviews/addAttempt" method="POST">
            Title
            <input type="text" name="title">
            <input type="hidden" name="crypto_id" value="{{cryptoId}}">
            Body
            <textarea name="text_body"></textarea>
            <input type="submit" value="Submit" class="button">
        </form>
    </div>
</div>
{% endblock 'body' %}
