.hero {
    width: 100%;
    height: 65vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    color: white; 
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h1 {
    /* Text styles */
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.1em;
}
.hero h2 {
    margin-top: 0;
    margin-bottom: 0.1em;
}